
{% extends 'homebase.html' %}

{% block title %}Contact us-{{ setting.title }} {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %} 

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Contact Us</li> 
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	

		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
						<div class="col-md-6">
							<form id="checkout-form" class="clearfix" method="POST">
								{% csrf_token %}

								<div class="billing-details">
									<div class="section-title">
										<h3 class="title">Contact Form</h3>

										{% if messages %}
										{% for message in messages %}
											<div class="alert alert-{{message.tags}}" role="alert">
												{{ message }}
											</div>
										{% endfor %}
									{% endif %}
									
									</div>
									{{ form.as_p }}

									<div class="form-group">
										<input class="form-control btn btn-success" type="submit" value="Send Message">
									</div>
									
								</div>
							</form>

						</div>
	
						<div class="col-md-6">
							<div class="shiping-methods">
								<div class="section-title">
									<h4 class="title">Contact US</h4>
								</div>
								<div>
									{{ setting.contact|safe }} 
								</div>
							</div>
	
							
						</div>
	
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->



{% endblock  %}



