{% load static %}
{% load currency %}




<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Latest Products</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for product in latest_product %}
              
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <a href="/product/{{ product.id }}/{{ product.slug }}" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</a>
                        <img src="{{ product.image.url }}" alt="" style="height: 250px">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">${{ product.price|currency:request.session.currency }} {{request.session.currency}}</h3>
                        <div class="product-rating">
                            <i class="fa fa-star{% if product.avaregereview < 1 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if product.avaregereview < 1 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if product.avaregereview < 1 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if product.avaregereview < 1 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if product.avaregereview < 1 %}-o empty{% endif %}"></i>
                            {{ product.avaregereview | stringformat:".2f" }}/{{ product.counterview }}
                        </div>
                        <h2 class="product-name"><a href="/product/{{ product.id }}/{{ product.slug }}">{{ product.title }}</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <a href="/order/add_to_shopcart/{{ product.id }}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

            <!-- /Product Single -->
            

        </div>
        <!-- /row -->

        

        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Picked For You</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            {% for pick_pro in product_picked %}
              
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <a href="/product/{{ pick_pro.id }}/{{ pick_pro.slug }}" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</a>
                        <img src="{{ pick_pro.image.url }}" alt="" style="height: 250px">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">${{ pick_pro.price|currency:request.session.currency }} {{request.session.currency}}</h3>
                        <div class="product-rating">
                            <i class="fa fa-star{% if pick_pro.avaregereview < 1 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if pick_pro.avaregereview < 2 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if pick_pro.avaregereview < 3 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if pick_pro.avaregereview < 4 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if pick_pro.avaregereview < 5 %}-o empty{% endif %}"></i>
                            {{ pick_pro.avaregereview | stringformat:".2f" }}/{{ pick_pro.counterview }}
                        </div>
                        <h2 class="product-name"><a href="/product/{{ pick_pro.id }}/{{ pick_pro.slug }}">{{ pick_pro.title }}</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <a href="/order/add_to_shopcart/{{ product.id }}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


            <!-- /Product Single -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->







