{% extends 'homebase.html' %}

{% block title %} FAQ {{ setting.title }} {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block head %}
    <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>

{% endblock %}
{% block body %} 

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">FAQ</li> 
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                <div id="accordion">
                {% for faq_ans in faq %}
               
                    <h3>{{ faq_ans.question }}</h3>
                    <div>
                    <p>{{ faq_ans.answer|safe }}</p>
                 </div>

                {% endfor %}
            </div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock  %}
