
{% extends 'homebase.html' %}

{% block title %} Order Products {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %} 

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Order Products</li> 
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

    	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3">
                   {% include "user_panel.html" %}

                </div>

				<div class="col-md-9">
					<div class="order-summary clearfix">
						<div class="section-title">
							<h3 class="title">Order Products</h3>
                        </div>
                        

                        <div class="section-title">
                            <h4 class="title">Order Item List</h4>
                        </div>

                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-left">Image </th>
                                <th class="text-left">Product Name </th>
                                <th class="text-left">Price </th>
                                <th class="text-left">Qauatity </th>
                                <th class="text-left">Amount </th>
                                <th class="text-left">Status </th>
                                <th class="text-left">Date </th>
                                <th class="text-left">Detail </th>

                            </tr>
                            {% for item in order_product %}
                                <tr>
                                    <td class="text-left">
                                        <a href="/product/{{ item.product_id }}/{{ item.product.slug }}">
                                            {% if item.variant.image_id > 0 %}
                                            <img src="{{ item.variant.image }}" alt="" style="height: 50px">
                                            {% else %}
                                            <img src="{{item.product.image.url}}" alt="" style="height: 50px">
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="text-left">{{ item.product.title}} {{ item.variant.size}} {{ item.variant.color}}</td>
                                    <td class="text-left">{{ item.price}} </td>
                                    <td class="text-left"> X {{ item.quantity}} </td>
                                    <td class="text-left">{{ item.amount}} </td>
                                    <td class="text-left">{{ item.status}} </td>
                                    <td class="text-left">{{ item.create_at}} </td>
                                    <td class="text-left"><a class="primary-btn" href="{% url 'user_order_product_details' item.id item.order.id %}"> Detail </a></td>

                                </tr>
                            {% endfor %}

                        </table>




						
						
					</div>

				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
    <!-- /section -->
    

{% endblock  %}
