
{% extends 'homebase.html' %}

{% block title %} Shop Cart {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %} 

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">ShopCart</li> 
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

    	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

                <h1>Thanks for the order</h1>
                
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
    <!-- /section -->
    

{% endblock  %}
