
{% extends 'homebase.html' %}

{% block title %} Order Page {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %} 

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Order Page</li> 
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

    	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                <form action="" method="POST">
					{% csrf_token %}
                    <div class="col-md-6">
						<div class="billing-details">

                            <div class="section-title">
                                <h4 class="title">Shipping Details</h4>
							</div>
							{{ form.as_p }}
							<div class="pull-right">
                                <button  type="submit" class="primary-btn">Complete Order</button>
                            </div>

						</div>
							
					</div>
					

                    <div class="col-md-6">

						<div class="shiping-methods">
                            <div class="section-title">
                                <h4 class="title">Payment Information</h4>
							</div>
							
							<!-- {{ form2.as_p }} -->
							<h4 class="title" readonly>Total: {{ total }} USD </h4>
						</div>
                        
                    </div>
                 </form>

				<div class="col-md-12">
					<div class="order-summary clearfix">
						<div class="section-title">
							<h3 class="title">Order Review</h3>
						</div>
						<table class="shopping-cart-table table">
							<thead>
								<tr>
									<th>Product</th>
									<th></th>
									<th class="text-center">Price</th>
									<th class="text-center">Quantity</th>
									<th class="text-center">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for item in shopcart %}
								  
								<tr>
									<td class="thumb">
										
										{% if item.variant.image_id > 0 %}
										<img src="{{ item.variant.image }}" alt="">
										{% else %}
										<img src="{{ item.product.image.url }}" alt="">
										{% endif %}
											


									</td>
									<td class="details">
										<a href="/product/{{ item.product.id }}/{{ item.product.slug }}">{{ item.product.title }}</a>
										<ul>
											<li><span>Size: {{ item.variant.size }}</span></li>
											<li><span>Color: {{ item.variant.color }}</span></li>
										</ul>
									</td>
									<td class="price text-center"><strong>
										{% if item.product.variant == 'None' %}
											${{  item.product.price }}
										{% else %}
											${{  item.variant.price }}
										{% endif %}
									</strong></td>
									<td class="qty text-center"><strong>{{  item.quantity }}</strong></td>
									<td class="total text-center"><strong class="primary-color">
										{% if item.product.variant == 'None' %}
											${{ item.amount }}
										{% else %}
											${{ item.varamount }}
										{% endif %}
										
									</strong></td>
								</tr>

								{% endfor %}
								
							</tbody>
							<tfoot>
								<tr>
									<th class="empty" colspan="3"></th>
									<th>SUBTOTAL</th>
									<th colspan="2" class="sub-total">${{ total }}</th>
								</tr>
								<tr>
									<th class="empty" colspan="3"></th>
									<th>SHIPING</th>
									<td colspan="2">Free Shipping</td>
								</tr>
								<tr>
									<th class="empty" colspan="3"></th>
									<th>TOTAL</th>
									<th colspan="2" class="total">${{ total }}</th>
								</tr>
							</tfoot>
						</table>
						<div class="pull-right">
							<a href="/order/orderproduct" class="primary-btn">Place Order</a>
						</div>
					</div>

				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
    <!-- /section -->
    

{% endblock  %}
